<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>25.04</title>
    <link rel="stylesheet" href="./../assets/css/style.css">
</head>
<body>
    <a href="./ola">Klik</a>
    <h1>{{pageTitle}}</h1>
    <h2>Zajęcia projektowe</h2>
    <h3>{{newVar}}</h3>
    <input type="text" id="example">
    <button id="btn">Klik</button>
    <p id="text"></p>

    <script src= "./../js/function.js"></script>
</body>
</html>