<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>25.04</title>
</head>
<body>
    <a href="./">Klik</a>
    <h1>Ola Bentkowska</h1>
    <h2>Zajęcia projektowe</h2>
</body>
</html>